@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);


.cont {
    max-width: 520px;
}
.cont .cont_tit { 
    width: 520px;
    height: 60px;
    border-bottom: 1px solid #c4c4c4;
}
.cont .cont_tit h1 {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    line-height: 60px;
    max-width: 100%;
}   
.cont .form_login {
    padding: 0 24px;
    max-width: 100%;
}
.cont .form_login p {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 26px 0 26px 0;
    max-width: 100%;
}
.cont .form_login .cont_wrap {
    display: flex;
    flex-direction: column;
}
.cont .form_login .inp {
    width: 475px;
    height: 50px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    background: #FFFFFF;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    color: #767676;
}
.cont .form_login #savelogin {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 21px;
    max-width: 100%;
}
.cont .form_login .btn_login {
    display: block;
    width: 472px;
    height: 50px;
    background: #2F80ED;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;

}
.cont .form_login .vert {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #767676;
}
.cont .form_login .vert::before {
    content: '';
    display: inline-block;
    width: 210px;
    height: 1px;
    background: #C4C4C4;
    margin-right: 13px;
    vertical-align: middle;
}
.cont .form_login .vert::after {
    content: '';
    display: inline-block;
    width: 210px;
    height: 1px;
    background: #C4C4C4;
    margin-left: 13px;
    vertical-align: middle;
}
.cont .form_login .cont_link_login {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.cont .form_login .cont_link_login [class^="link"] {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #767676;
}
.cont .form_login .link_join::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 18px;
    background: #767676;
    margin: 0 12px;
    vertical-align: text-top;
}

.cont .form_login .cont_link_outside a {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 472px;
    height: 50px;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid;
    margin-bottom: 10px;
    position: relative;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #767676;
    text-align: center;
}
.cont .form_login .cont_link_outside .link_google {
    border-color: #767676;
}
.cont .form_login .cont_link_outside .link_google::before {
    content: '';
    display: inline-block;
    background: url(./images/Google__G__Logo\ 1.png);
    width: 28px;
    height: 28px;
    position: absolute;
    left: 12px;
}
.cont .form_login .cont_link_outside .link_facebook {
    border-color: #2D9CDB;
}
.cont .form_login .cont_link_outside .link_facebook::before {
    content: '';
    display: block;
    background: url(./images/facebook.png);
    width: 28px;
    height: 28px;
    position: absolute;
    left: 12px;
}
.cont .form_login .cont_link_outside .link_naver {
    border-color: #00BF18;
}
.cont .form_login .cont_link_outside .link_naver::before {
    content: '';
    display: block;
    background: url(./images/naver-logo.png);
    width: 28px;
    height: 28px;
    position: absolute;
    left: 12px;
}
.cont .form_login .cont_link_outside .link_kakao {
    border-color: #F2C94C;
    margin-bottom: 25px;
}
.cont .form_login .cont_link_outside .link_kakao::before {
    content: '';
    display: block;
    background: url(./images/message-circle.png);
    width: 28px;
    height: 28px;
    position: absolute;
    left: 12px;
}




