@charset "utf-8";
/* base */
@font-face {
    font-family: Spoqa Han Sans Neo;
    src: url("../font/SpoqaHanSansNeo-Regular.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: Spoqa Han Sans Neo;
    src: url("../font/SpoqaHanSansNeo-Medium.woff") format("woff");
    font-weight: 500;
}
@font-face {
    font-family: Spoqa Han Sans Neo;
    src: url("../font/SpoqaHanSansNeo-Bold.woff") format("woff");
    font-weight: 700;
}


body{
    font-family: "Spoqa Han Sans Neo", sans-serif;
}

#appLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cont-login {
    width: 440px;
    padding:38px 30px 30px;
    text-align: center;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}

.cont-login .tit-login {
    width: 138px;
    margin: 0 auto 28px auto;
}
.cont-login .txt-login {
    margin-bottom: 32px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
}
.cont-login .btn-login {
    font-size: 22px;
}

/* 모달창 레이아웃*/
.modal-login {
    width: 520px;
    margin: 20px auto;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    box-sizing: border-box;
}
.cont-form .form-login {
    padding: 24px 24px 25px;
}

/* 모달창 헤더 스타일링 */
.cont-form .tit-login {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
    border-bottom: 1px solid #C4C4C4;
}

.cont-form .txt-login {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;  
    text-align: left;
    margin: 26px 25px 0;
}

/* 모달창 폼 스타일링 */
.cont-form .cont-inp-id {
    margin-bottom: 10px;
}

.cont-form .labl-login-hold {
    display: block;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;   
    color: #767676;
    cursor: pointer;
}
.cont-form .labl-login-hold::before {
    content: "";
    background: url('./images-login/icon_check_empty.png');
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: -5px;
    margin-right: 8px;
}
.cont-form .inp-login-hold:focus+.labl-login-hold::before {
    outline: 2px solid rgb(0,95,204);
    border-radius: 50%;
}
