@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

body {
    width: 1920px;
    background: #5B2386;
}

.sr-only {
    position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

.container {
    width: 1000px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    border: 2px solid red;
}

.container header {
    position: relative;
    width: 700px;
    height: 225px;
    margin: 50px auto;
}

.container header .clock {
    position: absolute;
    width: 225px;
    height: 225px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container header .title {
    width: 564px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
main {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container main q {
    width: 486px;
    height: 40px;
    font-family: 'OTEnjoystoriesBA';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 39.6px;
    margin-bottom: 78px;
    /* identical to box height */
    display: flex;
    justify-content: center; 
    text-align: center;
    color: #F5DF4D;
}
.container main .quote {
    width: 373px;
    height: 85px;
    font-family: 'GmarketSansMedium';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    margin-bottom: 102px;
}
.container main .quote strong {
    font-size: 24px;
    font-family: 'GmarketSansBold';
    font-weight: 700;
    line-height: 30px;
}
.container main .inputArea {
    width: 765px;
    height: 152px;
    margin-bottom: 115px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: 'Noto Sans KR';
    font-size: 24px;
    font-weight: 400;
    line-height: 57px;
}
.container main .inputArea .inputJob {
    display: flex;
    width: 514px;
    height: 57px;
    text-align: center;
    justify-content: space-around;
}
.container main .inputArea .inputHour {
    display: flex;
    width: 765px;
    height: 57px;
    justify-content: space-around;
}
.container main .inputArea input {
    width: 228px;
    height: 57px;
    border-radius: 7px;
    background: #FFFFFF;
    text-align: center;
    font-family: 'GmarketSansMedium';
    font-size: 24px;
    color: #babcbe;
    line-height: 24px;
}
.container main .btnSubmit {
    width: 565px;
    height: 66px;
    padding: 21px 49px;
    background: #FCEE21;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 56px;
    font-family: 'GmarketSansMedium';
    color: #5B2386;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 147px;
}
.container main .outputArea {
    width: 663px;
    height: 161px;
    text-align: center;
    margin-bottom: 329px;
    font-size: 24px;
    font-weight: 400;
    color: white;
}
.container main .outputArea strong {
    font-size: 72px;
    line-height: 72px;
    vertical-align: middle;
}
.container footer {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 50px;
    color: white;
}
.container footer .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container footer .copyright img {
    width: 125px;
    height: 25px;
    margin-bottom: 25px;
}
.container footer .copyright small {
    line-height: 27px;
}
